<h1>{{this.selectedTask.title}}</h1>
<p>{{this.selectedTask.description}}</p>
<div>
    <h4>Assigned to:</h4>
    <ul *ngIf="this.assignedUsers.length > 0">
        <li *ngFor="let user of this.assignedUsers">
            {{user.name}}
            <span (click)="removeAssignment(user._id)">
                <i class="material-icons">delete</i>
            </span>
        </li>  
    </ul> 
    <p *ngIf="this.assignedUsers.length == 0">No one</p>     
</div>
<form *ngIf="this.allUsers.length > 0" [formGroup]="assignmentForm" (ngSubmit)="onAssignment()">
    <div class="form-group">
        <label for="assignInput">Assign To:</label>
        <select 
          required
          class="form-control"
          id="assignInput" formControlName="user_id" 
        >
            <option *ngFor="let user of this.allUsers" value="{{user._id}}">{{user.name}}</option>
        </select>
    </div>
    <button *ngIf="assignmentForm.valid">Assign</button>
</form>
<button (click)="goBack()">Go Back</button>
