<h1>Edit Task</h1>
<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" (change)="logger()">
    <div class="form-group">
        <label for="titleInput">Title</label>
        <input 
            required autofocus
            minlength="3"
            type="text" class="form-control"
            id="titleInput" formControlName="title" 
            [(ngModel)]="this.selectedTask.title"
        >
    </div>
    <div class="form-group">
        <label for="descriptionInput">Description</label>
        <input 
            required
            minlength="3"
            type="text" class="form-control"
            id="descriptionInput" formControlName="description" 
            [(ngModel)]="this.selectedTask.description"
        >
    </div>
    <div class="form-group">
        <label for="deadlineInput">Deadline</label>
        <input 
            type="date" id="deadlineInput" formControlName="deadline"
            min="2022-08-01" max="2052-12-31"
            [(ngModel)]="this.selectedTask.deadline"
        >
    </div>
    <div class="form-group">
        <label for="statusInput">Status</label>
        <select 
          required
          class="form-control"
          id="statusInput" formControlName="status"          
          [(ngModel)]="this.selectedTask.status"
        >
          <option value="waiting">Waiting</option>
          <option value="open">Open</option>
          <option value="in-progress">In progress</option>
          <option value="finished">Finished</option>
        </select>
    </div>
    <div formArrayName="assignments" class="form-group">
        <h2>Assignments</h2>   
        <div *ngFor="let assignment of formAssignments.controls; let i=index">
            <!-- The repeated assignment template -->
            <select id="assignment-{{ i }}" type="text" [formControlName]="i">
                <option *ngFor="let user of this.allUsers" value="{{user._id}}">{{user.name}}</option>
            </select>   
            <span (click)="removeAssignment(i)">
                <i class="material-icons">delete</i>
            </span>       
        </div>
        <button type="button" (click)="addAssignment()">+ Add</button>
    </div><div formArrayName="dependencies" class="form-group">
        <h2>Dependencies</h2>   
        <div *ngFor="let dependency of formDependencies.controls; let i=index">
            <!-- The repeated dependency template -->
            <select id="dependency-{{ i }}" type="text" [formControlName]="i">
                <option *ngFor="let task of this.allTasks" value="{{task._id}}">{{task.title}}</option>
            </select>   
            <span (click)="removeDependency(i)">
                <i class="material-icons">delete</i>
            </span>       
        </div>
        <button type="button" (click)="addDependency()">+ Add</button>
    </div>
    <button *ngIf="taskForm.valid" class="btn btn-lg btn-primary btn-block" type="submit">Edit Task</button>    
           
</form>
<button class="btn btn-lg btn-primary btn-block" (click)="onDelete()">Delete</button>
