<h1>Add User</h1>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="nameInput">Name</label>
        <input 
            required autofocus
            minlength="3"
            type="text" class="form-control"
            id="nameInput" formControlName="name" 
            [(ngModel)]="this.newUser.name"
        >
    </div>
    <div class="form-group">
        <label for="groupInput">User Group</label>
        <select 
          required
          class="form-control"
          id="groupInput" formControlName="userGroup"          
          [(ngModel)]="this.newUser.userGroup"
        >
          <option value="admins">Admin</option>
          <option value="managers">Manager</option>
          <option value="employees">Employee</option>
          <option value="rh-kicked">Roundhouse Kicked</option>
        </select>
    </div>
    <div class="form-group">
      <label for="passwordInput">Password</label>
      <input 
          required autofocus
          minlength="3"
          type="password" class="form-control"
          id="passwordInput" formControlName="password" 
          [(ngModel)]="this.newUser.password"
      >
    </div>
    <button *ngIf="userForm.valid" class="btn btn-lg btn-primary btn-block" type="submit">Add User</button>        
</form>
<table class=>
    <thead>
      <tr>
        <th>Name</th>
        <th>UserGroup</th>
        <th>Penalties</th>
        <th></th>
      </tr>
    </thead>
    <tr *ngFor="let user of users">
      <td>{{user.name}}</td>
      <td>{{user.userGroup}}</td>
      <td>{{user.penalties}}</td>
      <td>
        <a routerLink="/edit-user/{{user._id}}">
            <i class="material-icons">edit</i>
        </a>
        <a (click)="onDelete(user._id)">
            <i class="material-icons">delete</i>
        </a>
      </td>
    </tr>
</table>
